[MESSAGES CONTROL]
disable=C0111, W0621, R0201

[BASIC]
no-docstring-rgx=(test_.*)|(__.*__)

[FORMAT]
indent-string='  '
indent-after-paren=2

[MASTER]
init-hook='import sys; sys.path.append("./tests/helpers")'
