[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "~=2.12.2"
black = "~=22.3.0"

[packages]
docker = "~=6.0.1"
pytest = "~=6.2.5"
passlib = "~=1.7.4"
pyopenssl = "~=22.1.0"
requests = "~=2.31.0"
pytest-timeout = "~=2.1.0"
kubernetes = "~=21.7.0"
pygit2 = "~=1.9.1"
selenium = "~=4.2.0"
chromedriver-autoinstaller = "==0.3.1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
