[access]
	inheritFrom = Public-Projects
[submit]
	action = inherit
[project]
	description = Kubernetes support for Gerrit Code Review
[access "refs/*"]
	owner = group k8s-gerrit
[access "refs/tags/*"]
	create = group k8s-gerrit
	createSignedTag = group k8s-gerrit
	createTag = group k8s-gerrit
	push = group k8s-gerrit
[access "refs/for/*"]
	addPatchSet = group k8s-gerrit
[access "refs/heads/*"]
	abandon = group k8s-gerrit
	create = group k8s-gerrit
	editTopicName = group k8s-gerrit
	label-Code-Review = -2..+2 group k8s-gerrit
	label-Verified = -1..+1 group k8s-gerrit
	label-Build-Approved = -1..+1 group k8s-gerrit
	removeReviewer = group k8s-gerrit
	submit = group Change Owner
	submit = group k8s-gerrit
[label "Build-Approved"]
	value = -1 CI build not allowed
	value = 0 Waiting for approval
	value = +1 CI build approved
	defaultValue = 0
	function = NoOp
	copyCondition = change-kind:NO_CODE_CHANGE or uploaderin:k8s-gerrit
[submit-requirement "Build-Approved"]
	description = At least one maximum vote for label 'Build-Approved' is required
	applicableIf = -branch:refs/meta/config
	submittableIf = label:Build-Approved=MAX AND -label:Build-Approved=MIN
	canOverrideInChildProjects = false
